.DS_Store
node_modules/
site/node_modules/
site/dist/
.vscode/
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
site/.vscode/
tmp/

# Testing artifacts
site/test-results/
site/playwright-report/
